 /*Sessão Quem somos*/

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     font-family: 'Roboto', sans-serif;
 }

 #quem-somos {
     background-color: #132235ef;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 3rem 3rem;
 }

 h1 {
     text-align: center;
     font-size: 2rem;
     color: #132235;
 }

 #quem-somos h1 {
     margin-bottom: 1rem;
     color: white;
 }

 #conteudo-quem-somos {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     flex-wrap: wrap;
 }

 #conteudo-quem-somos p {
     min-width: 450px;
     width: 60%;
     font-size: 1.2rem;
     font-family: 'Roboto', sans-serif;
     text-align: justify;
     color: white;
     padding: 1rem 2rem;
 }

 #container-img-qs {
     min-width: 400px;
     width: 20%;
     height: 400px;
     /* border: 1px black solid; */
     position: relative;
     padding: 1rem 2rem;

 }

 #img-qs1 {
     width: 70%;
     position: absolute;
     z-index: 2;
 }

 #img-qs2 {
     width: 65%;
     position: absolute;
     right: 0;
     top: 25%;
     z-index: 1;

 }

 #img-qs3 {
     width: 70%;
     position: absolute;
     bottom: 0;
 }

 /*Sessão Contatos*/

 #logo-img {
     width: 50px;
     margin-top: 2rem;

 }

 #contatos {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     flex-wrap: wrap;
     background-color: rgba(37, 150, 190, 0.05);

 }

 #contatos h1 {
     margin-top: 1rem;
     font-size: 2rem;
 }

 #contatos h2 {
     font-size: 20px;
     color: #132235;
     font-family: 'Roboto', sans-serif;
 }

 #icones-contatos {
     margin: 2rem;
     display: flex;
     font-family: 'Roboto', sans-serif;
     flex-wrap: wrap;
     justify-content: center;
 }

 .img-contatos {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin: 2rem
 }

 .img-contatos img {
     width: 60px;
 }

 footer {
     background-color: #132235;
     color: aliceblue;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding: 0rem 1rem;
 }

 footer>div {
     display: flex;
     align-items: center;
     padding: 3rem 2rem;
 }

 footer>#footer-p1 {
     width: 65%;
     min-width: 300px;
 }

 footer>#footer-p2 {
     width: 25%;
     min-width: 300px;
 }

 footer img {
     width: 40px;
 }

 /*Cabeçalho*/

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: #132235;
 }

 .cabecalho-logo img {
     width: 50px;
     margin-right: 2rem;
 }

 header nav {
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
 }

 nav a {
     text-decoration: none;
     font-size: 1.5rem;
     color: white;
     font-weight: 900;
     margin-right: 1.2rem;

 }

 nav a:hover {
     color: #6cd8d1;
 }

 #menu-mobile {
     display: none;
 }

 #menu-mobile img {
     width: 40px;

 }

 #menu-mobile summary {
     display: flex;
     justify-content: flex-end;
 }

 #menu-mobile details {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: flex-end;
 }

 /* Sessão Produtos */
 #produtos {
     padding: 3rem 0rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }

 #produtos h1 {
     padding-top: 20px;
     font-size: 2rem;
     margin-bottom: 1.5rem;
 }

 .cards {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     padding: 0 1rem;
     flex-wrap: wrap;
     width: 80%;
     min-width: 700px;
 }

 .card-produto {
     display: grid;
     grid-template-columns: 100px 300px;
     grid-template-rows: auto auto;
     margin: 20px;
     align-items: center;
     padding: 0 1rem;
 }

 .card-produto h2 {
     grid-column: 1 / 3;
     text-align: center;
     align-self: center;
     color: white;
     font-weight: normal;
     font-size: 1.4rem;
     padding: 10px 0;
     background-color: #132235;
 }

 .card-produto img {
     width: 50%;
     justify-self: center;

 }

 .card-produto p {
     justify-self: center;
     align-self: center;
     color: #132235;
     font-weight: 900;
     text-align: justify;
     padding: 30px 0;
 }

 /* Sessão Nosso Time */
 #nosso-time {
     background-color: #132235;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 3rem 3rem;
     padding-top: 20px;


 }

 #nosso-time h1 {
     color: white;
     font-size: 2rem;
     padding: 1rem;
 }

 .conteudo-nosso-time {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0px;
     flex-wrap: wrap;
 }

 .conteudo-nosso-time p {
     color: white;
     font-size: 1.2rem;
     padding: 0 0rem 0 0rem;
     text-align: justify;
     width: 75%;
     min-width: 600px;
     padding: 1rem 2rem;
 }

 .conteudo-nosso-time img {
     width: 25%;
     min-width: 150px;
 }

 /*
    PARTE DO ENZO
 */


 .nav-list {
     background: #182D40;
     box-shadow: 0px 0px 10px #182D40;
     margin: 0;
     padding: 1rem 0;
     border-radius: 0.2rem;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 .nav-item {
     list-style: none;
     margin-right: 2rem;
 }

 .nav-item a {
     text-decoration: none;
     color: #71D9CE;
     transition: all 200ms ease-in;
 }

 .nav-item a:hover {
     color: #81F7EB;
 }

 .nav-list h1 {
     margin-right: auto;
     margin-left: 2rem;
 }

 .planULife {
     font-size: 1rem;
     background: #71D9CE;
     border: none;
     border-radius: 0.2rem;
     padding: 0.5rem 1rem;
     cursor: pointer;
     transition: all 200ms ease-in;
 }

 .planULife:hover {
     background: #81F7EB;

 }

 .title_btn {
     font-size: 1rem;
     background: #71D9CE;
     border: none;
     border-radius: 0.2rem;
     padding: 0.5rem 1rem;
     cursor: pointer;
     transition: all 200ms ease-in;
 }

 .title_btn:hover {
     background: #81F7EB;

 }


 .title {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     flex-grow: 1;
 }

 .title img {
     max-width: 600px;
     width: 90%;
 }

 .title p {
     display: flex;
     color: white;
     justify-content: center;
     padding: 20px;
     font-size: 1.6rem;
     text-align: center;
 }

 main {
     width: 100%;
     min-height: 100vh;
     background-color: #132235;
     display: flex;
     flex-direction: column;
     padding: 2rem;
 }

 #planeje-com-gente {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 2rem 1rem;
     align-items: center;
 }

 .content {
     height: 35vw;
     width: 935px;
     max-width: 90vw;
     border-radius: 20px;
     overflow: hidden;
     position: relative;
     display: flex;
     align-items: flex-start;
     justify-content: start;
     flex-direction: column;
     background-color: white;
 }

 .navigation {
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translate(-50%);
     display: flex;
 }

 .bar {
     width: 40px;
     height: 20px;
     border: 2px solid white;
     margin: 6px;
     border-radius: 5px;
     cursor: pointer;
     transition: .6s;
 }

 .bar:hover {
     background-color: aqua;
 }

 .slides input {
     display: none;
 }

 .slides {
     display: flex;
     width: 500%;
     height: 100%;
 }

 .slide {
     width: 20%;
     transition: .6s;
 }

 .slide img {
     width: 100%;
     height: 100%;
 }

 #slide1:checked~.s1 {
     margin-left: 0;
 }

 #slide1:checked~.navigation #bar1 {
     background-color: white;
 }

 #slide2:checked~.s1 {
     margin-left: -20%;
 }

 #slide2:checked~.navigation #bar2 {
     background-color: white;
 }

 #slide3:checked~.s1 {
     margin-left: -40%;
 }

 #slide3:checked~.navigation #bar3 {
     background-color: white;
 }

 #slide4:checked~.s1 {
     margin-left: -60%;
 }

 #slide4:checked~.navigation #bar4 {
     background-color: white;
 }

 #slide5:checked~.s1 {
     margin-left: -80%;
 }

 #slide5:checked~.navigation #bar5 {
     background-color: white;
 }

 .btn {
     display: flex;
     font-size: 1.2rem;
     background-color: #132235;
     border-radius: 0.2rem;
     padding: 0.5rem 1rem;
     cursor: pointer;
     transition: all 200ms ease-in;
     color: #fff;
     font-weight: 900;
     border: 4px #132235 solid;
     border-radius: 1rem;
     margin: 2rem 0;
 }

 .btn:hover {
     background: white;
     color: #132235;
     transition: all 200ms ease-in;
     transform: scale(1.1);
 }

 @media screen and (max-width: 700px) {

     /* Nav */
     #menu-mobile {
         display: initial;
     }

     #menu-desktop {
         display: none;
     }

     /* Quem somos */
     #container-img-qs {
         width: 100%;
         min-width: 100px;
     }

     #conteudo-quem-somos p {
         width: 100%;
         min-width: 100px;

     }

     /* Sessão Produtos */

     .cards {
         width: 100%;
         min-width: 100px;
     }

     /*Nosso time*/
     .conteudo-nosso-time {
         width: 100%;
     }

     .conteudo-nosso-time p {
         width: 100%;
         min-width: 100px;
     }

     .conteudo-nosso-time img {
         width: 50%;
         min-width: 100px;
     }

     .card-produto {
         display: grid;
         width: 100%;
         grid-template-columns: 25% 75%;
         grid-template-rows: auto auto;
     }
 }